.CreatePicture {
  width: 700px;
  margin: 20px auto;
  .input-field {
      margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .CreatePicture {
    width: 500px;
    margin: 10px auto;
  }
}

@media (max-width: 580px) {
    .CreatePicture {
      width: 310px;
    }
  }
