.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        margin-bottom: 144px;
        flex-direction: column;
        margin-top: 8rem;
        flex-grow: 1;
        
        background-color: #fff;
        height: fit-content;
        z-index: 1;
    }
}

@media (max-width: 580px) {
    .Layout {
        main {
            margin-top: 12rem;
            // margin-bottom: 231px;
        }
    }
  }