body {
  margin: 0;
  letter-spacing: 2px;
  font-family: "Courier New", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.py2 {
  padding: 2rem 0;
}

.py1 {
  padding: 1rem 0;
}

.py-auto {
  padding: auto 0;
}

.pt1 {
  padding-top: 1rem;
}

@font-face {
  font-family: "Courier New";
  src: url("/fonts/7170.ttf");
}