.Slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    &__arrow {
        top: 350px;
        position: absolute;
        font-size: 150px;
        color: #fff;
        z-index: 1;
        text-shadow: 0 0 10px rgba(0,0,0,.7);
        cursor: pointer;
        &:hover {
            opacity: 0.6;
            transition: opacity ease .5s;
        }
    }

    .arrow-right {
        right: 0;
    }

    &__line {
        position: relative;
        overflow: hidden;
        left: 0;
        transition: all ease 1s;
        .slide {
            float: left;
            object-fit: contain;
            width: 570px;
        }
    }
}

@media (max-width: 580px) {
    
    .Slider {
        &__arrow {
            top: 200px;
            font-size: 50px;
        }
        &__line {
            .slide {
                width: 285px;
            }
        }
    }
}